body {
	font-family: Arial, sans-serif;
	scrollbar-width: none;

}
header {
	background-color: #E5583A;
	color: white;
	padding: 10px;
	text-align: center;
    font-family: "Times New Roman", Times, serif;}
nav ul {
	background-color: #333;
	list-style-type: none;
	padding: 0;
	overflow: hidden;
}
nav ul li {
	float: left;
}
nav ul li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	cursor:pointer;
}
nav ul li a:hover {
	background-color: #111;
}
section {
    position : relative;
    justify-content:center;
    color: White;

}
footer {
	background-color: #333;
	color: white;
	text-align: center;
	padding: 5px;
	position: fixed;
	bottom: 0;
	width: 100%;
}
#title{
    position:absolute;
    background-size: cover;
    background-position: center center;
    overflow-y: hidden;
    filter: blur(8px);
  -webkit-filter: blur(4px);

}

p {
    color: #bb501a;
}

h2 {
    color : #2596be;
    font-family: "Times New Roman", Times, serif;

}