{% extends 'home.html' %}
{% load static %} {% block header %} {{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'device/css/style_list.css' %}"> {% endblock %} {% block content %}
  <h3>Computer List</h3>
  <a href="{% url 'computer_create' %}" id = "create-btn" class="btn btn-primary">Create New Computer</a>
  <br><br>
  <table class="table" >
    <thead>
      <tr>
        <th>Name</th>
        <th>Processor</th>
        <th>RAM(GB)</th>
        <th>Operating System</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for computer in computers %}
      <tr>
        <td>{{ Computer.computer_name }}</td>
        <td>{{ Computer.processor }}</td>
        <td>{{ Computer.ram }}</td>
        <td>{{ Computer.operating_system }}</td>
        <td>{{ Computer.status|yesno:"Active,Inactive" }}</td>
        <td>
          <a href="{% url 'computer_update' computer.pk %}" class="btn btn-secondary">Update</a>
          <a href="{% url 'computer_delete' computer.pk %}" class="btn btn-danger">Delete</a>
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="6">No computers available.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
