{% extends 'home.html' %}

{% block content %}
  <h1>Computer Form</h1>
  <form method="post">
    {% csrf_token %}
    {% if form.instance.pk %}
      <input type="hidden" name="computer_id" value="{{ form.instance.pk }}">
    {% endif %}
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" name="name" required value="{{ form.instance.name }}">
    </div>
    <div class="form-group">
      <label for="processor">Processor</label>
      <input type="text" class="form-control" id="processor" name="processor" required value="{{ form.instance.processor }}">
    </div>
    <div class="form-group">
      <label for="ram">RAM (GB)</label>
      <input type="number" class="form-control" id="ram" name="ram" required value="{{ form.instance.ram }}">
    </div>
    <div class="form-group">
      <label for="operating_system">Operating System</label>
      <input type="text" class="form-control" id="operating_system" name="operating_system" required value="{{ form.instance.operating_system }}">
    </div>
    <div class="form-group">
      <label for="status">Status</label>
      <select class="form-control" id="status" name="status" required>
        <option value="1" {% if form.instance.status %} selected {% endif %}>
            Active</option>
        <option value="0" {% if not form.instance.status %}selected{% endif %}>Inactive</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
  </form>
{% endblock %}