<!DOCTYPE html>
<html>
<head>
    <title>Cyber Cafe Management System</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>

    <header>
        <h1>Welcome to the Cyber Cafe Management System</h1>
    </header>



    <main>
        <h2>Manage your cyber cafe with ease</h2>
        <p>Our powerful management system allows you to easily manage computer sessions, track payments, handle reservations, and manage user profiles.</p>
    </main>

    <footer>
        <p>Copyright &copy; {{ current_year }}</p>
    </footer>

</body>
</html>